<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestStore Test Suite">
    <test name="Test Add Remove Item from Basket">
        <classes>
            <class name="co.uk.teststore.AddRemoveItemBasketTest"/>
        </classes>
    </test>
    <test name="Test Order Complete">
        <classes>
            <class name="co.uk.teststore.OrderCompleteTest"/>
        </classes>
    </test>
</suite>
